# Task 1
Faker Create a dataframe with 100 fake persons

In [1]:
from faker import Faker
from faker.providers.credit_card import Provider as CreditCardProvider #Add creditcards to faker
import pandas as pd
# from laundromat.spacy.spacy_model import SpacyModel
# from faker.providers.credit_card import Provider as CreditCardProvider #Add creditcards to faker

In [12]:
#import spacy
#print(spacy.__version__)

3.5.3

In [4]:
fake = Faker(['no_NO']) #Create a faker with norwegian Names and structures

In [5]:
df = pd.DataFrame(columns=['Navn','Adresse','PersonNr', 'CreditCard', 'ipv4']) # Create a empty df

In [6]:
for i in range(100):
    row = fake.name(),fake.address(),fake.ssn(),fake.credit_card_number(),fake.ipv4()
    df.loc[i]=row

In [7]:
df.head()

,Navn,Adresse,PersonNr,CreditCard,ipv4
0,Linda-Cecilie Mikkelsen,"Holmåsen 6, 8573 Mathiassjøen",14127835137,4822794008406388468,122.17.96.86
1,Sindre Thorsen,"Nilsenkroken 400, 1176 Evensen",08127431540,30184464521265,63.105.0.195
2,Janne Aune,"Engengjerdet 68, 9300 Lindastrøm",07108706834,4108287693097970,157.129.136.242
3,Magnus-Stian Jakobsen,"Jensenmoen 76B, 8862 Ruthstad",09066324637,30360962365864,146.110.117.108
4,Tom Hagen,"Amundsenløkka 3A, 8387 Gunnnes",27027308908,060446027207,206.134.100.158

In [8]:
textArray = [] #Create a empty array
for row in range(10):
# Do a for loop, and assign values to name and adress
    row=df.iloc[i]
    name = row[0] 
    adress = row[1]
    ssn = row[2]
    cc = row[3]
    #Using f string we can now create a new string with the values, and
    #append (add) that string to the text array
    textArray.append(f'Hi, my name is {name}. I wonder if you deliver to {adress}, my visa is {cc} and my ssn is {ssn}')

In [9]:
print(textArray)

['Hi, my name is Robert-Erling Johansen. I wonder if you deliver to Madsenvollen 1, 2826 Christensen, my visa is 4763944602677831 and my ssn is 01058002883', 'Hi, my name is Robert-Erling Johansen. I wonder if you deliver to Madsenvollen 1, 2826 Christensen, my visa is 4763944602677831 and my ssn is 01058002883', 'Hi, my name is Robert-Erling Johansen. I wonder if you deliver to Madsenvollen 1, 2826 Christensen, my visa is 4763944602677831 and my ssn is 01058002883', 'Hi, my name is Robert-Erling Johansen. I wonder if you deliver to Madsenvollen 1, 2826 Christensen, my visa is 4763944602677831 and my ssn is 01058002883', 'Hi, my name is Robert-Erling Johansen. I wonder if you deliver to Madsenvollen 1, 2826 Christensen, my visa is 4763944602677831 and my ssn is 01058002883', 'Hi, my name is Robert-Erling Johansen. I wonder if you deliver to Madsenvollen 1, 2826 Christensen, my visa is 4763944602677831 and my ssn is 01058002883', 'Hi, my name is Robert-Erling Johansen. I wonder if you deliver to Madsenvollen 1, 2826 Christensen, my visa is 4763944602677831 and my ssn is 01058002883', 'Hi, my name is Robert-Erling Johansen. I wonder if you deliver to Madsenvollen 1, 2826 Christensen, my visa is 4763944602677831 and my ssn is 01058002883', 'Hi, my name is Robert-Erling Johansen. I wonder if you deliver to Madsenvollen 1, 2826 Christensen, my visa is 4763944602677831 and my ssn is 01058002883', 'Hi, my name is Robert-Erling Johansen. I wonder if you deliver to Madsenvollen 1, 2826 Christensen, my visa is 4763944602677831 and my ssn is 01058002883']

In [19]:
nlp = SpacyModel()

NameError: name 'SpacyModel' is not defined

In [10]:
for line in textArray:
    entities = nlp.predict(line)
    replaced_text_1 = nlp.replace(line, replacement="entity", replacement_char=":^)")
    print(line)
    print(replaced_text_1+'\n')

NameError: name 'nlp' is not defined

In [ ]:
nlp.add_patterns(lookup=True)
nlp.print_regex_labels()

FNR
CREDIT_CARD
TLF
DTM
AMOUNT

In [ ]:
for line in textArray:
    entities = nlp.predict(line)
    replaced_text_1 = nlp.replace(line, replacement="entity", replacement_char=":^)")
    print(line)
    print(replaced_text_1+'\n')

Hi, my name is Siri Danielsen. I wonder if you deliver to Henriksentjernet 049, 9062 Eliassen, my visa is 4853899966723 and my ssn is 03049943007
Hi, my name is <PER>. I wonder if you deliver to Henriksentjernet <DTM>, 9062 <PER>, my visa is <CREDIT_CARD> and my ssn is 03<DTM>943007

Hi, my name is Siri Danielsen. I wonder if you deliver to Henriksentjernet 049, 9062 Eliassen, my visa is 4853899966723 and my ssn is 03049943007
Hi, my name is <PER>. I wonder if you deliver to Henriksentjernet <DTM>, 9062 <PER>, my visa is <CREDIT_CARD> and my ssn is 03<DTM>943007

Hi, my name is Siri Danielsen. I wonder if you deliver to Henriksentjernet 049, 9062 Eliassen, my visa is 4853899966723 and my ssn is 03049943007
Hi, my name is <PER>. I wonder if you deliver to Henriksentjernet <DTM>, 9062 <PER>, my visa is <CREDIT_CARD> and my ssn is 03<DTM>943007

Hi, my name is Siri Danielsen. I wonder if you deliver to Henriksentjernet 049, 9062 Eliassen, my visa is 4853899966723 and my ssn is 03049943007
Hi, my name is <PER>. I wonder if you deliver to Henriksentjernet <DTM>, 9062 <PER>, my visa is <CREDIT_CARD> and my ssn is 03<DTM>943007

Hi, my name is Siri Danielsen. I wonder if you deliver to Henriksentjernet 049, 9062 Eliassen, my visa is 4853899966723 and my ssn is 03049943007
Hi, my name is <PER>. I wonder if you deliver to Henriksentjernet <DTM>, 9062 <PER>, my visa is <CREDIT_CARD> and my ssn is 03<DTM>943007

Hi, my name is Siri Danielsen. I wonder if you deliver to Henriksentjernet 049, 9062 Eliassen, my visa is 4853899966723 and my ssn is 03049943007
Hi, my name is <PER>. I wonder if you deliver to Henriksentjernet <DTM>, 9062 <PER>, my visa is <CREDIT_CARD> and my ssn is 03<DTM>943007

Hi, my name is Siri Danielsen. I wonder if you deliver to Henriksentjernet 049, 9062 Eliassen, my visa is 4853899966723 and my ssn is 03049943007
Hi, my name is <PER>. I wonder if you deliver to Henriksentjernet <DTM>, 9062 <PER>, my visa is <CREDIT_CARD> and my ssn is 03<DTM>943007

Hi, my name is Siri Danielsen. I wonder if you deliver to Henriksentjernet 049, 9062 Eliassen, my visa is 4853899966723 and my ssn is 03049943007
Hi, my name is <PER>. I wonder if you deliver to Henriksentjernet <DTM>, 9062 <PER>, my visa is <CREDIT_CARD> and my ssn is 03<DTM>943007

Hi, my name is Siri Danielsen. I wonder if you deliver to Henriksentjernet 049, 9062 Eliassen, my visa is 4853899966723 and my ssn is 03049943007
Hi, my name is <PER>. I wonder if you deliver to Henriksentjernet <DTM>, 9062 <PER>, my visa is <CREDIT_CARD> and my ssn is 03<DTM>943007

Hi, my name is Siri Danielsen. I wonder if you deliver to Henriksentjernet 049, 9062 Eliassen, my visa is 4853899966723 and my ssn is 03049943007
Hi, my name is <PER>. I wonder if you deliver to Henriksentjernet <DTM>, 9062 <PER>, my visa is <CREDIT_CARD> and my ssn is 03<DTM>943007